<!doctype html>
<html lang="en-GB" ng-app="tromb">
	<head>
		<title>Test app</title>
		<meta charset='utf-8'>

		<link rel="stylesheet" type="text/css" href="tromb.css"> 

		<script src="angular.min.js"></script>
		<script src="people.js"></script>
	</head>
	<body>
		<h1>People</h1>

		<div id="people" ng-controller="PeopleCtrl">
			<form ng-submit="addPerson()">
				<input type="hidden" ng-model="photo">
				<input type="hidden" ng-model="photoBlob">
				<input type="button" ng-click="pickPhoto()" value="Pick photo">

				<input type="text" ng-model="name" placeholder="Name">
				<input type="text" ng-model="occupation" placeholder="Occupation">
				<input type="text" ng-model="company" placeholder="Company">
				<input type="text" ng-model="twitterHandle" placeholder="Twitter name">
				<input type="submit" value="Add">
			</form>

			<ul class="people-list">
				<li ng-repeat="person in people">
					<div><img src="{{person.photo}}" width="100%" alt="Photo"></div>
					<h3>{{person.name}}</h3>
					<ul>
						<li>Occupation: {{person.occupation}}</li>
						<li>Company: {{person.company}}</li>
						<li>Twitter: {{person.twitterHandle}}</li>
					</ul>
				</li>
			</ul>
		</div>

	</body>
</html>