extends layout

block content
  h1= title
    #trombines
        - each trombine in trombines
          div.trombine
            div.created_at= trombine.created_at
            div.name= trombine.name